[submodule "tensorflow_models"]
	path = tensorflow_models
	url = git@github.com:kevindoran/models.git
[submodule "tensorflow_tpu"]
	path = tensorflow_tpu
	url = https://github.com/tensorflow/tpu.git
[submodule "gresearch"]
	path = gresearch
	url = https://github.com/google-research/google-research
